.navbar{
    background-color:  #5F2C88!important;
}
.CablenetLogo{
    width: 250px;
}
.nav-link{
    font-size: 30px;
    font-weight: 450;
}
.TableFormatting {
    width: 320px;
}
.TableTitle{
    text-align: center;
}
.ModemTable{
    width: 200px;
}
#PhoneButton{
    width: 150px;
}
#NormalButton{
    width: 150px;
}
#NormalButton2{
    width: 190px;
}
.popover{
    max-width: max-content;
}
.alert{
    margin-bottom: 0px;
}
#myInput2{
    display: inline-block;
    vertical-align: top;
    height: 500px;
    max-width: max-content;
}
#myInput3{
    height: auto;
    width: auto;
}
#MainTitle_Templates{
    text-align: center;
    align-self: center;
    max-width: 100%;
    min-width: 15%;
}
#MainContainer_Templates{
    padding-right: 5px;
    padding-left: 5px;
    max-width: 100%;
}
#MainContainer_Templates2{
    padding-right: 15px;
    padding-left: 30px;
    max-width: 100%;
}
#testing{
    display: inline-block;
    vertical-align: top;
    overflow-wrap: break-word;
    width: max-content;
    max-width: 365px;
    height: 600px;
    max-height: auto;
    margin-bottom: 10px;
}
.alert{
    width: 100%;
}
#CardBodyTesting{
    width: 400px;
    display: inline-block;
    vertical-align: top;
}