.navbar {
    background-color:  #5F2C88!important;
}
.CablenetLogo {
    width: 250px;
}
.nav-link {
    font-size: 35px;
    font-weight: 450;
}
.TableFormatting {
    width: 260px;
}
.Tablefixing {
    width: 260px;
}
.TableTitle{
    text-align: center;
}
.ModemTableTitle{
    text-align: center;
}
.ModemTableTop{
    width: 200px;
}
.ModemTableBottom{
    width: 200px;
}