.navbar{
    background-color:  #5F2C88!important;
}
.CablenetLogo{
    width: 250px;
}
.nav-link{
    font-size: 35px;
    font-weight: 450;
}
.TableFormatting {
    width: 320px;
}
.TableTitle{
    text-align: center;
}
.ModemTable{
    width: 200px;
}
/* #PopButton{
    width: 200px;
} */