.CablenetLogo{ width: 250px; }
.list-group-item{ min-width: 100px; }
.alert{ margin-bottom: 0px!important; }
.nav-item{ width: max-content; }
.navbar-nav{ width: 100%; }
.nav-link{ font-size: 28px; font-weight: 700; outline: none; width: max-content;}
.list-group-item{ min-width: fit-content;}
.row{ margin-right: 0%}

body{min-width: 806px;}

div.col-8{ padding-right: 0%;}
#ModalText{ word-wrap: break-word;}
#Retail_TelephonyButton{ width: 190px; margin-right: 150px; }
#AgentTools_TableFormatting1{width: 250px;}
#TableTitle{ text-align: center;}
#NavigationBar{ background-color:  #5F2C88!important;}
#AgentTools_TableFormatting2{ width: 350px;}
@media (max-width: 956px){
    #Retail_TelephonyButton {
        margin-bottom: 10px;
        margin-right: 0px;
    }
    #ModalImage{
        display: block;
        width: auto;
        min-width: 430px;
    }}
@media (max-width: 1631px){
    #Retail_TelephonyButton{
        margin-bottom: 10px;
        margin-right: 0px;
    }}
#GroupList_Content{   
    max-width: 100%;
    min-width: 350px;
    border: solid;
    border-width: 1px;
    border-color: #cce5ff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%!important;
    padding: 15px;
}
#Sports4all{
    width: 100%;
    max-height: 850px;
    max-width: 490px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#Modem{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}
#ModalTestingButtons{
    margin-left: 5px;
}

#CardTesting,
.modal-content{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; 
    border-color: #cce5ff;
}

#ModalImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}